.close_btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    border: none;
    background-color: #fff;
    transition: .5s;

    position: absolute;
    top: 10px;
    right: 10px;
}

.close_btn:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.user_info_wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    position: relative;
}

.user_info_wrapper > * {
    color: gray;
}

.user_img {
    padding: 5px;
    margin-right: 10px;
}

.user_name {
    margin-right: 5px;
}

.post_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 1px solid #d9d9d9;
}

.post {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px;
    margin-bottom: 20px;
}

.post_heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.post_text {
    font-size: 18px;
    margin-left: 5px;
}

.comments_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.comments_wrapper_heading {
    font-size: 20px;
}

.comment, .comment_body {
    padding: 5px;
}

.comment_heading {
    font-size: 18px;
}

.comments_wrapper_input {
    height: 20px;
    width: 40%;
    margin-left: 10px;
    padding-left: 15px;
}

.notFound {
    width: 40%;
    min-height: 300px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.notFound_text {
    font-size: 30px;
}

.notFound_back {
    height: 50px;
    font-size: 18px;
    background-color: #fff;
    transition: .5s;
}

.notFound_back:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}